# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual envs
venv/
.venv/
Gemmamed/

# Training outputs / adapters
medgemma*_icu_lora/
outputs/
reports/

# Data artifacts
/data/*.csv
/data/*.jsonl
/data/*.parquet
/data/*.npy
/data/*.npz

# User datasets
sepsis2019_psv/
set-a/

# OS
.DS_Store
Thumbs.db
todo.txt
.env
/physionet2012/dataset
/physionet2019/dataset
/physionet2012/results
physionet2012/apps/streamlit/app.py
/physionet2012/backend_old

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
