*.json   linguist-vendored
*.ipynb  linguist-vendored

# ----------------------------
# Ignore C++ + CMake in stats
# ----------------------------
*.c      linguist-vendored
*.cc     linguist-vendored
*.cpp    linguist-vendored
*.cxx    linguist-vendored
*.h      linguist-vendored
*.hpp    linguist-vendored
*.hh     linguist-vendored
*.hxx    linguist-vendored

CMakeLists.txt linguist-vendored
*.cmake        linguist-vendored
