# -----------------------------
# Count frontend code in stats
# -----------------------------
*.ts   linguist-detectable=true linguist-language=TypeScript -linguist-documentation -linguist-vendored -linguist-generated
*.tsx  linguist-detectable=true linguist-language=TypeScript -linguist-documentation -linguist-vendored -linguist-generated
*.js   linguist-detectable=true linguist-language=JavaScript -linguist-documentation -linguist-vendored -linguist-generated
*.jsx  linguist-detectable=true linguist-language=JavaScript -linguist-documentation -linguist-vendored -linguist-generated
*.html linguist-detectable=true linguist-language=HTML       -linguist-documentation -linguist-vendored -linguist-generated
*.css  linguist-detectable=true linguist-language=CSS        -linguist-documentation -linguist-vendored -linguist-generated
